.main-title{
      text-align: center;
      /* padding-bottom: 20px; */
    }
    
    .grid-container {
      display: grid;
      grid-column-gap: 0.5rem;
      grid-row-gap: 0.5rem;
      margin: 50px;
      /* margin-right: 50px; */
    }
    
    @media (min-width: 576px) {
      .grid-container { grid-template-columns: repeat(1, 1fr); }
    }
    
    @media (min-width: 992px) {
      .grid-container { grid-template-columns: repeat(3, 1fr); }
    }
    